body {
  background-image: url("music.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #cccccc;
}

.center-container-grid {
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
    --tw-text-opacity: 1;
    color: rgb(6 182 212 / var(--tw-text-opacity, 1));
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-size: 3.75rem;
    font-weight: 1000;
    line-height: 1;
}

.animated-text {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInSlide 1.5s ease-out forwards;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    --tw-text-opacity: 1;
    color: rgb(6 182 212 / var(--tw-text-opacity, 1));
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1;
}

#message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    min-width: 125px;
    padding: 6px 12px;    
    text-align: center;
    display: none;
}